body {
    margin: 0;
    text-align: center;
}

h2 {
    padding: 7% 0 0 0;
    margin-top: 0;
}

p {
    margin-bottom: 0;
}



/* class */
.top-container {
    background-color: #c7f0db;
    padding: 80px 0% 0% 0%;
    height: 600px;
}
.cloud-top {
    position: absolute;
    right: 15%;
}
.cloud-bottom {
    position: absolute;
    left: 15%;
}
.background {


}

.middle-container {
    width: 100%;
    height: 200px;
    background-color: #8bbabb;
}
.bottom-container {
    width: 200px;
    height: 200px;
    background-color: darkgray;
}

